* {
    box-sizing: border-box;
    margin: 0 auto;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}

h2 {
    text-align: center;
    margin-bottom: 20px;
}

header {
    background: #fff url(images/banner3.jpg) no-repeat center center;
    background-size: cover;
    min-height: 250px;
    width: 100%;
    margin: 0 auto;
    margin-bottom: 20px;
}


header>h1 {
    text-align: center;
    font-family: 'Roboto', sans-serif;
    padding-top: 100px;
    color: #fff;
    font-size: 24px;
}

header>button {
    display: block;
    background: rgb(40, 98, 223);
    border: 2px solid rgb(40, 98, 223);
    color: #fff;
    padding: 5px;
    width: 100px;
    border-radius: 15px;
    margin-top: 20px;
}

/* Nav bar */

nav {
    width: 95%;
    margin-bottom: 20px;
}
@media (min-width: 768px) { 
 body {
     position: relative;
 }
 nav>h1{
     position: absolute;
     top: 20px;
     left: 20px;
 }
 nav > ul {
     position: absolute;
     top: 20px;
     right: 10px;
 }
 nav > ul > li  {
     display: inline;
     background:none;
 }

}

nav>h1 {
    text-align: center;
    color: gray;
    padding-bottom: 10px;
    margin-bottom: 10px;
}

nav>h1>span {
    border: 5px solid gray;
    border-right: none;
    padding-left: 10px;
    color: orange;
}

a {
    text-decoration: none;
}

ul {
    list-style: none;
}

nav>ul {
    text-align: center;
    color: #fff;
}

nav>ul>li {
    background: rgb(107, 201, 233);
    padding: 5px;
    color: #fff;
}

nav>ul>li>a {
    color: #fff;
    font-size: 12px;
    font-weight: 700;
}

/* Main */

main {
    width: 80%;
    margin: 0 auto;
}

section {
    margin-bottom: 20px;
}

section>h3 {
    color: rgb(107, 201, 233);
    margin-bottom: 20px;
}

section>ul>li {
    padding: 5px;
    padding-left: 0;
    font-size: 13px;
    color: gray;
}

section>ul>li>a {
    color: gray;
    font-weight: 700;
}

section>p {
    padding-bottom: 10px;
}
@media (min-width: 768px){
    section{
        width: 50%;
        float: left;
    }
    .section3{
        width: 100%;
        margin-bottom: 100px;
    }
}


/* Article */

article {
    width: 80%;
    margin: 0 auto;
    margin-bottom: 40px;
}

.box {
    width: 100%;
    background: rgb(107, 201, 233);
    margin-bottom: 10px;
    position: relative;
    min-height: 200px;
}
.box > img{
    width: 20%;
    border-radius: 50%;
    border: 2px solid white;
    position: absolute;
    left: 5%;
    top: 10%;
}
.box > .star{
    position: absolute;
    top: 12%;
    left: 30%;
  
}
.fa-star, .fa-star-half{
    color: white;
}
.box > p{
    position: absolute;
    bottom: 5%;
    left: 5%;
    color: white;
}

@media (min-width: 768px){
    article{
        margin-bottom:500px; 
    }
    .box{
        width: 45%;
        float: left;
        margin-right: 20px;
    }
 

/* Adress */

address {
    width: 100%;
}

.add {
    color: white;
    text-align: center;
    min-height: 150px;
}

@media (min-width: 768px){
    .add{
        float: left;
        width: 50%;
    }
    .add > img{
        height: 140px;
    }
    iframe{
        height: 300px;
    }
}

.gr {
    background: rgb(70, 199, 156);
    min-height: 150px;
}

.gr>p {
    padding-bottom: 10px;
}

.add>h3 {
    padding: 20px;
}

.pn {
    background: rgb(231, 63, 91);
}
.pn > a{
    margin-right: 10px;
    color: white;
}

.bl {
    background: rgb(66, 66, 238);
}

.lb {
    background: lightcyan;
}

/* Maps */

iframe {
    width: 100%;
    margin-bottom: 40px;
}

.contact {
    width: 100%;
    margin: 0 auto;
}

input {
    display: block;
    width: 90%;
    height: 40px;
    padding-left: 10px;
    margin-bottom: 20px;
}
@media (min-width: 768px){
   
    input{
        width: 26%;
       display: inline;
       margin-left: 5%;
       
    }
    .contact > #submit{
        margin-left: 5%;
    }
}
textarea {
    width: 90%;
    display: block;
    margin: 0 auto;
    margin-bottom: 20px;
    padding: 10px;
}

#submit {
    width: 100px;
    background: orange;
    border: 2px solid orange;
    color: #fff;
    border-radius: 10px;
    text-align: center;
    margin-left: 20px;
    margin-bottom: 30px;
}
footer{
    background: black;
    color: #fff;
    min-height: 150px;
    width: 100%;
    font-size: 13px;
}
footer > ul {
  padding: 50px 0 20px;
  text-align: center;
  width: 90%;
}
footer > ul > li {
    display: inline;
    text-align: center;
    color: white;
    margin-right: 5px;
    
}
footer > ul > li> a{
    color: #fff;
    text-decoration: none;
}
footer > p{
    text-align: center;
    padding-bottom: 30px;
}

