body {
    min-height: 100vh;
}

#main-nav {
    background-color: #333;
    color: #fff;
}

h1 {
    text-align: center;
}

footer {
    background-color: #333;
    padding: 20px 0;
    text-align: center;
    color: #fff;
}

.col-show {
    text-align: center;
    margin-bottom: 20px;
}

.show-title {
    padding: 15px 0 5px;
}

.form-inline {
    position: relative;
    box-sizing: border-box;
}

.drop-down-li {
    width: 100%;
    cursor: pointer;
    position: absolute;
    top: 100%;
    right: 0;
    background-color:#fff;
    color: black;
    z-index: 10;

}