.wrap {
    background-image: url(./img/bg.jpg);
    background-repeat: repeat-x;
    background-position-y: bottom;
    width: 1300px;
    height: 700px;
    overflow: hidden;
    margin: 0 auto;
    position: relative;
    background-color: blue;
}

img{
    position: absolute;
    height: 150px;
    bottom: 85px;
    left: 40%;
}

#marioRun {
    left: 40%;
    display: none;
}
#marioJump{
    left: 40%;
    bottom: 260px;
    display: none;
}